click==8.2.0
keyring==25.6.0
packaging==25.0
pendulum==3.1.0
protobuf==6.30.2
pytest==8.3.5
python-dotenv==1.1.0
python_dateutil==2.9.0.post0
ruamel.base==1.0.0
snowflake_connector_python==3.14.0
snowflake_snowpark_python==1.31.0
